<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Ranglisten</h5>
    <h6 class="card-subtitle mb-2 text-muted">Suchen und Filtern - auch in historischen Daten</h6>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <%= link_to "Spielersuche", players_path, class: 'card-link' %>
    <%= link_to "Informationen zu verfügbaren Daten", status_path, class: 'card-link' %>
  </div>
</div>
