<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Ranglisten</h5>
    <h6 class="card-subtitle mb-2 text-muted">Suchen und Filtern - auch in historischen Daten</h6>
    <p class="card-text">
      Hier bekommen Sie direkten zugriff auf die Jugendranglisten - nicht nur aus dem aktuellen Jahr,
      sondern auch historische Daten. Im Augenblick sind die Such- und Filtermöglichkeiten noch nicht
      vollständig umgesetzt - neue Filtermöglichkeiten und Suchoptionen werden kontinuierlich hinzugefügt.
      <br/><br/>
      Aktuelle Optionen:
      <ul>
        <li><b>Quartal</b> - das anzuzeigende Quartal zum Stcihtag</li>
        <li><b>Abschlussrangliste</b> - ist ein Abschlussquartal angewählt, wird die Abschließende Liste für das Jahr angezeigt, sonst die für das Folgequartal gültige (neue Altersklassen)
        <li><b>Geschlecht</b></li>
        <li><b>Altersklasse</b> - die anzuzeigende Altersklasse. Bei ungeraden Altersklassen 
        erhält man die Liste nur für diesen Jahrgang (außer es sollen auch Jüngere angezeigt werden)</li>
        <li><b>Optionen</b> - Anzeige nur von dem in diesem Quartal gültigen Jahrgangs oder Einbeziehen auch der sonst 
        nicht berücksichtigten jüngeren Geburtsjahrgänge</li>
        <li><b>Verband</b> - Nur Einträge von Spielerinnen und Spielern aus dem ausgewählten Verband</li>
        <li><b>Verein</b> - Einträge anzeigen, die den eingegebenen Text im Vereinsnamen enthalten</li>
      </ul>
    </p>
    <%= link_to "Spielersuche", players_path, class: 'card-link text-info' %>
    <%= link_to "Vereinsuche", clubs_path, class: 'card-link text-info' %>
    <%= link_to "Verbandsstatistik", federations_path, class: 'card-link text-info' %>
    <%= link_to "Informationen zu verfügbaren Daten", status_path, class: 'card-link text-info' %>
  </div>
</div>
