<!DOCTYPE html>
<html lang="de">
<head>
  <title>Ranking-Info</title>
  <meta name="description"
        content="Ranglisteninformationen - Der Anlaufpunkt zur Deutschen Tennis-Jugendrangliste">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<header>
  <nav class="navbar is-dark is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/packs/media/images/ri-logo-b2ac4854544bc09ab9d40a1df6e0e7dc.png"/>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
         data-target="navbarBasicMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicMenu" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="/players">Spieler</a>
        <a class="navbar-item" href="/listings">Listen</a>
        <a class="navbar-item" href="/clubs">Vereine</a>
        <a class="navbar-item" href="/federations">Verbände</a>
        <a class="navbar-item" href="/status">Status</a>
        <a class="navbar-item" href="/help">Hilfe</a>
        <a class="navbar-item" href="/privacy">Datenschutz</a>
        <a class="navbar-item" href="/about">Über</a>
      </div>
    </div>
  </nav>
</header>

<div class="container is-fluid">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Willkommen bei Ranking-Info</h1>
        <h2 class="subtitle">Der Anlaufpunkt zur Deutschen Tennis-Jugendrangliste</h2>
      </div>
    </div>
  </section>
  <div class="card">
    <header class="card-header">
      <span class="card-header-title">Ranglisteninformationen</span>
    </header>
    <div class="card-content">
      Hier findest Du eine filterbare Version der Deutschen Jugendranglisten. Die Daten werden
      manuell auf
      Basis der offiziellen Listen des Deutschen Tennisbundes eingepflegt.<br/>
      Der Vorteil zu den offiziellen Listen? Es ist nicht nur das aktuelle Quartal und die Liste zum
      Jahresabschluss verfügbar, es sind alle importierten Daten seit dem 01.01.2019 enthalten!
      <br/><br/>
      Wie steht ein Spieler insgesamt da? Wie in seinem Geburtsjahrgang? Wie war die Entwicklung in
      den letzten Quartalen?
      Wo stehe ich in meinem Jahrgang in meinem Verband?<br/>
      Diese Fragen möchte <i>Ranking-Info</i> beantworten.
      <br/><br/>
      Viel Spaß beim Stöbern!
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="/players">Spielersuche</a>
      <a class="card-footer-item" href="/listings">Ranglisten</a>
      <a class="card-footer-item" href="/clubs">Vereinsuche</a>
      <a class="card-footer-item" href="/federations">Verbandsstatistik</a>
    </footer>
  </div>
</div>
</body>
</html>