<span class="h6"><br/>Bisherige Vereine</span>
<div class="container mt-1">
  <div class="row justify-content-md-center border border-dark text-white bg-dark font-weight-bold p-1">
    <div class="col col-md-3">Verein</div>
  </div>
  <div class="row bg-info font-weight-bold text-white p-1">
    <div class="col">
      <%= @player.club %> / <%= @player.federation %>
    </div>
  </div>
  <% @player.clubs.each do |curr_club| %>
    <div class="row p-1">
      <div class="col">
        <%= curr_club.club %> / <%= curr_club.federation %>
      </div>
    </div>
  <% end %>
</div>
