<span class="h6"><br/>Gesamtverlauf Jugend</span>
<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Altersklasse</th>
      <th>Rang</th>
      <th>Punkte</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td>U12</td>
      <td>48</td>
      <td>160</td>
    </tr>
  </tbody>
</table>
