<span class="h6"><br/>Aktuelle Position</span>
<table class="table table-sm table-striped mt-1">
  <thead class="thead-dark">
    <tr>
      <th>Altersklasse</th>
      <th>Rang</th>
      <th>Punkte</th>
    </tr>
  </thead>
  <tbody>
    <% @current_rankings.each_with_index do |cr, index| %>
      <tr <%= "class=table-primary" if index.eql?(0) %>>
        <td><%= cr['age_group'] %></td>
        <td><%= cr['position'] %></td>
        <td><%= cr['score'] if index.eql?(0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
