<span class="h6"><br/>Bisherige Vereine</span>
<table class="table table-sm mt-1">
  <thead class="thead-dark">
    <tr>
      <th>Verein</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td><%= @player.club %></td>
    </tr>
    <% @player.clubs.each do |curr_club| %>
      <tr>
        <td><%= curr_club.club %></td>
      </tr>
    <% end %>
  </tbody>
</table>
