<span class="h6"><br/>Gesamtverlauf Jugend</span>
<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Jahr</th>
      <th>Quartal</th>
      <th>U11</th>
      <th>U12</th>
      <th>U13</th>
      <th>U14</th>
      <th>U15</th>
      <th>U16</th>
      <th>U17</th>
      <th>U18</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td>U12</td>
      <td>48</td>
      <td>160</td>
      <td>160</td>
      <td>160</td>
      <td>160</td>
      <td>160</td>
      <td>160</td>
      <td>160</td>
      <td>160</td>
    </tr>
  </tbody>
</table>
