<span class="title is-6">Bisherige Vereine</span>
<div class="container mt-3">
  <div class="columns is-mobile has-text-white has-background-dark has-text-weight-bold">
    <div class="column">Verein</div>
  </div>
  <% @player.clubs.each do |curr_club| %>
    <div class="columns is-mobile">
      <div class="column">
        <%= curr_club.name %> / <%= curr_club.federation %>
      </div>
    </div>
  <% end %>
</div>
