<span class="h6"><br/>Aktuelle Position</span>
<table class="table table-sm table-striped mt-1">
  <thead class="thead-dark">
    <tr>
      <th>Altersklasse</th>
      <th>Rang</th>
      <th>Punkte</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td>U12</td>
      <td>48</td>
      <td>160</td>
    </tr>
    <tr>
      <td>U13</td>
      <td>160</td>
      <td>160</td>
    </tr>
    <tr>
      <td>U14</td>
      <td>192</td>
      <td>216</td>
    </tr>
    <tr>
      <td>U15</td>
      <td>192</td>
      <td>216</td>
    </tr>
    <tr>
      <td>U16</td>
      <td>192</td>
      <td>216</td>
    </tr>
    <tr>
      <td>U17</td>
      <td>192</td>
      <td>216</td>
    </tr>
    <tr>
      <td>U18</td>
      <td>192</td>
      <td>216</td>
    </tr>
  </tbody>
</table>
